<div class="sign-up-container">
  <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">
    <h2>Sign Up</h2>
    <!-- Debug info -->
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
    <div class="form-group">
      <label>
        Username:
        <input 
          type="text" 
          name="userName" 
          [(ngModel)]="user.userName" 
          required 
          minlength="8"
          #userName="ngModel" />
      </label>
      <div *ngIf="validationErrors['userName']" class="validation-error">
        {{ validationErrors['userName'] }}
      </div>
      <div *ngIf="userName.invalid && (userName.dirty || userName.touched) && !validationErrors['userName']" class="validation-error">
        Username is required and must be at least 8 characters long.
      </div>
    </div>

    <div class="form-group">
      <label>
        Password:
        <input 
          type="password" 
          name="password" 
          [(ngModel)]="user.password" 
          required 
          minlength="8"
          #password="ngModel" />
      </label>
      <div *ngIf="validationErrors['password']" class="validation-error">
        {{ validationErrors['password'] }}
      </div>
    </div>

    <div class="form-group">
      <label>
        First Name:
        <input 
          type="text" 
          name="firstName" 
          [(ngModel)]="user.firstName" 
          required 
          #firstName="ngModel" />
      </label>
      <div *ngIf="validationErrors['firstName']" class="validation-error">
        {{ validationErrors['firstName'] }}
      </div>
    </div>

    <div class="form-group">
      <label>
        Last Name:
        <input 
          type="text" 
          name="lastName" 
          [(ngModel)]="user.lastName" 
          required 
          #lastName="ngModel" />
      </label>
      <div *ngIf="validationErrors['lastName']" class="validation-error">
        {{ validationErrors['lastName'] }}
      </div>
    </div>

    <div class="form-group">
      <label>
        Email:
        <input 
          type="email" 
          name="email" 
          [(ngModel)]="user.email" 
          required 
          #email="ngModel" />
      </label>
      <div *ngIf="validationErrors['email']" class="validation-error">
        {{ validationErrors['email'] }}
      </div>
    </div>

    <div class="form-group">
      <label>
        Mobile:
        <input 
          type="tel" 
          name="mobile" 
          [(ngModel)]="user.mobile" 
          required 
          #mobile="ngModel" />
      </label>
      <div *ngIf="validationErrors['mobile']" class="validation-error">
        {{ validationErrors['mobile'] }}
      </div>
    </div>

    <div class="form-group">
      <label>
        Address Line 1:
        <input 
          type="text" 
          name="addressLine1" 
          [(ngModel)]="user.addressLine1" 
          required 
          #addressLine1="ngModel" />
      </label>
      <div *ngIf="validationErrors['addressLine1']" class="validation-error">
        {{ validationErrors['addressLine1'] }}
      </div>
    </div>

    <div class="form-group">
      <label>
        Address Line 2:
        <input type="text" name="addressLine2" [(ngModel)]="user.addressLine2" />
      </label>
    </div>

    <div class="form-group">
      <label>
        Address Line 3:
        <input type="text" name="addressLine3" [(ngModel)]="user.addressLine3" />
      </label>
    </div>

    <button type="submit" class="btn">Sign Up</button>
    <button type="button" class="btn back-btn" (click)="goBack()">Back to Products</button>
  </form>
</div>
